#RESTAI - optional
RESTAI_PORT=9000
EMBEDDINGS_PATH="./embeddings/"

#CORS etc
#RESTAI_DEV=true

#mySQL - optional DB
MYSQL_HOST="xxxxxxx"
MYSQL_USER="xxxxxxx"
MYSQL_PASSWORD="xxxxxxx"
MYSQL_DB="xxxxxxx"

#mySQL Docker Container - optional, only needed if you want to use mysql via docker compose and not an external mysql instance
MYSQL_ROOT_PASSWORD="xxxxxxx"

#PostgreSQL - optional DB
POSTGRES_HOST="xxxxxxx"
POSTGRES_USER="xxxxxxx"
POSTGRES_PASSWORD="xxxxxxx"
POSTGRES_DB="xxxxxxx"


RESTAI_DEFAULT_PASSWORD="admin"


