openai==0.28.1
fastapi
langchain
uvicorn
python-multipart
python-dotenv
pdfminer.six
unstructured
pydantic>2.5.0
pygpt4all
llama-cpp-python
sentence_transformers
chromadb==0.4.15
tiktoken
python-pptx
bs4
selenium
yake
GPUtil
psutil
passlib
SQLAlchemy
jq
transformers==4.36.2
accelerate==0.24.1
optimum==1.13.1
redis
redisvl
openpyxl
pydantic>2.5.0
google-cloud-aiplatform
bitsandbytes
flash_attn
diffusers